{{!-- //This layout holds the UI design for dashboard where the user can generate the playlists --}}
<div class="music-search-container">
    <h2>Search Music By Filters</h2>
    <hr>
    <div class="filter-wrapper">
        <button id="artist">Artist</button>
        <input type="text" id="input-one" placeholder="Please enter an artist">
    </div>
    <div class="filter-wrapper">
        <button id="genre">Genre</button>
        <input type="genre" id="input-two" placeholder="Please enter a genre">
    </div>
    {{!-- <div class="filter-wrapper">
        <button id="decade">Decade</button>
        <input type="decade" id="input-three" placeholder="Please enter a decade">
    </div>
    <div class="filter-wrapper">
        <button id="year">Year</button>
        <input type="year" id="input-four" placeholder="Please enter a year">
    </div>
    <h2>How many Songs Would You Like in Your Playlist?</h2>
    <hr>
    <div class="filter-wrapper">
        <button id="number">Number of Songs</button>
        <input type="genre" id="input-five" placeholder="Please enter a number">
    </div> --}}
</div>

<div class="hero">
  <h3>Results</h3>
  <ul id="results">
    {{#each playlist}}
    <li>
      <p>{{this.title}} by {{this.artist}}</p>
      <audio id="player-{{@index}}" class="player" data-song="{{this.audioSrc}}">
        <source src="{{this.url}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <button class="play-btn" data-player-id="{{@index}}">Play</button>
      <button class="pause-btn" data-player-id="{{@index}}">Pause</button>
    </li>
    {{/each}}
  </ul>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>